<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1> USER REGISTRATION FROM</h1>
    <form action="{% url 'myfun' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter your name" required><br>
        <input type="email" name="email" placeholder="Enter your email" required><br>
        <input type="mobile" name="mobile" placeholder="Enter your mobile" required><br>
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'read' %}">
        SHOW DATA
    </a>
</body>
</html>